# INVENTORY SYSTEM APPROACH

## TAKEALOT ONLINE SHOPPING PROBLEM

## Problem Description

What would the Grand Total of an online order placed be?

How long would it take for the package/s to be delivered?

Assumptions:

* There are three main warehouses in South Africa:
    * Bloemfontein Warehouse
    * Pretoria Warehouse
    * Cape Town Warehouse
* Shipping costs differ depending on whether the customer lives in the same city, same province and a different province. On site collection would reflect a R0.00 Shipping cost.
* Discount coupons would reduce the Grand Total of the final payment done by the customer by a certain percentage. The default value would be 1 if no discount coupon was used.
* If the cumulative price of the package/s are greater than R500.00, the shipping costs would be free.
* Assume that all the warehouses have the package/s ordered in stock.
* GPS time to reach the destination operation was used to determine the distance between each customers location and each warehouse.
* It takes 2-3 days to package and seal an order withing the warehouse before it is cleared for delivery.
* All orders were done on the same day but at different times in the day, by different people from different locations.

## Solution

Create 2 tables:
* Order details which include the Grand Total results
* Estimate time for delivery per order

Simulate orders placed on that day from various locations that vary in final order amount and simulate the time it would take for the orders to reach their distance as well.

#### Packages and Libraries imported

In [1]:
import os 
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
#See File Directory
os.getcwd()

'C:\\Users\\Student\\Documents\\Final Year\\Modules\\NDAS Data Science 3\\PROJECT\\PYTHON CODE'

In [67]:
#Changing the directory where the file will be saved
os.chdir("C:\\Users\\Student\\Documents\\Final Year\\Modules\\NDAS Data Science 3\\PROJECT\\PYTHON CODE")

In [68]:
os.getcwd()

'C:\\Users\\Student\\Documents\\Final Year\\Modules\\NDAS Data Science 3\\PROJECT\\PYTHON CODE'

### Part 1: Data Collection/ Data Creation

In [5]:
Data = {"Nr": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    "Customer_Name": ["Preston", "Jocelyn", "Josh", "Leilani'","Sarah","Joseph","Muriel","Shania","Maxine","Michael",
                       "Riaan","Chris","Kiara","Maxwell","Richard","Mathew","Damian","Carmen","Leykia","Laydon"],
       "Gender": ["M","F","M","F","F","M","F","F","F","M","M","M","F","M","M","M","M","F","F","F"],
       "Customer_Location": ["Pretoria","Kimberley","Oudtshoorn","Bloemfontein","Koffiefontein","Kuruman","George","Durban",
                            "Johannesburg","Boksburg","Cape_Town","Jacobsdal","Hartswater","Bethlehem","Mthatha","Standerton",
                            "Polokwane","Vryburg","Hondeklipbaai","Tietiesbaai"],
       "Discount_Percentage": [0,10,0,15,0,0,0,25,0,0,20,0,50,50,0,0,10,0,20,0],
       "Item_Names": ["Computer_Keyboard,Computer_Mouse,Mousepad","Epoxy_Resin_Kit, Latex_Gloves","Bracelet","Sewing_Machine",
                      "Photoframe, Photo_Album","Lawnmover, Hosepipe, Rake, Shovel, Garbage_Bags","Fur_Carpet, Pillow_Set, Dining_Table",
                     "Carving_Tools, Cellphone_Cover, Linocut_tiles","Headsets, Necklace","HD_Camera","Vape_Machine","Hydraulic_Jack",
                     "Doll_House, Hair_Accessories","Iphone_Airpods","Hydraulic_Jack, Braai_Tongs","Lego_Block_Set, Nerf_Gun","T-shirt, Hoodie",
                     "Makeup_Kit","Hookah_Pipe, Hoodie","Rabbit_Onesie, Rabbit_Cage"],
       "Item_Prices": [488,1088,150,1999,587,3329,3739,371,498,545,578,519,404,179,838,1194,642,389,789,1328],
       "Warehouse":["PTA","BFN","CPT","BFN","BFN","BFN","BFN","PTA","PTA","PTA","CPT","BFN","BFN","BFN","BFN","PTA","PTA","BFN","CPT","CPT"],
       "Shipping": [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        #Same city = sc,same province = sp, different province = dp
        "Shipping_ Var": ["c","dp","sp","c","sp","dp","dp","dp","sp","sp","c","dp","dp","sp","dp","dp","dp","dp","dp","sp"],
       "Grand_Total": [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        "GPS_Estimate_Final": [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        "GPS_Estimate_BFN" : [286,112,470,0,96,291,59,448,241,257,713,108,164,164,376,294,439,215,638,715],
        "GPS_Estimate_CPT" : [913,605,301,630,601,646,283,1081,879,889,0,592,695,811,810,919,1072,740,340,120],
        "GPS_Estimate_PTA" : [0,356,733,270,362,397,755,437,52,50,934,377,345,226,650,142,220,278,842,961],
       "Collection": [1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0],
       "Payment_Reference": [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}

Table = pd.DataFrame(Data, columns = ["Nr","Customer_Name","Gender","Customer_Location","Discount_Percentage","Item_Names","Item_Prices",
                                     "Warehouse","Shipping","Shipping_ Var","Grand_Total","GPS_Estimate_Final","GPS_Estimate_BFN","GPS_Estimate_CPT","GPS_Estimate_PTA",
                                      "Collection",,"Payment_Reference"])

In [6]:
Table['GPS_Estimate_Final'] = Table[['GPS_Estimate_BFN','GPS_Estimate_CPT',"GPS_Estimate_PTA"]].min(axis=1)

In [7]:
#To view the table of data created
Table

,Nr,Customer_Name,Gender,Customer_Location,Discount_Percentage,Item_Names,Item_Prices,Warehouse,Shipping,Shipping_ Var,Grand_Total,GPS_Estimate_Final,GPS_Estimate_BFN,GPS_Estimate_CPT,GPS_Estimate_PTA,Collection,Delivery_Date,Payment_Reference
0,1,Preston,M,Pretoria,0,"Computer_Keyboard,Computer_Mouse,Mousepad",488,PTA,0,c,0,0,286,913,0,1,0,0
1,2,Jocelyn,F,Kimberley,10,"Epoxy_Resin_Kit, Latex_Gloves",1088,BFN,0,dp,0,112,112,605,356,0,0,0
2,3,Josh,M,Oudtshoorn,0,Bracelet,150,CPT,0,sp,0,301,470,301,733,0,0,0
3,4,Leilani',F,Bloemfontein,15,Sewing_Machine,1999,BFN,0,c,0,0,0,630,270,1,0,0
4,5,Sarah,F,Koffiefontein,0,"Photoframe, Photo_Album",587,BFN,0,sp,0,96,96,601,362,0,0,0
5,6,Joseph,M,Kuruman,0,"Lawnmover, Hosepipe, Rake, Shovel, Garbage_Bags",3329,BFN,0,dp,0,291,291,646,397,0,0,0
6,7,Muriel,F,George,0,"Fur_Carpet, Pillow_Set, Dining_Table",3739,BFN,0,dp,0,59,59,283,755,0,0,0
7,8,Shania,F,Durban,25,"Carving_Tools, Cellphone_Cover, Linocut_tiles",371,PTA,0,dp,0,437,448,1081,437,0,0,0
8,9,Maxine,F,Johannesburg,0,"Headsets, Necklace",498,PTA,0,sp,0,52,241,879,52,0,0,0
9,10,Michael,M,Boksburg,0,HD_Camera,545,PTA,0,sp,0,50,257,889,50,0,0,0
10,11,Riaan,M,Cape_Town,20,Vape_Machine,578,CPT,0,c,0,0,713,0,934,1,0,0
11,12,Chris,M,Jacobsdal,0,Hydraulic_Jack,519,BFN,0,dp,0,108,108,592,377,0,0,0
12,13,Kiara,F,Hartswater,50,"Doll_House, Hair_Accessories",404,BFN,0,dp,0,164,164,695,345,0,0,0
13,14,Maxwell,M,Bethlehem,50,Iphone_Airpods,179,BFN,0,sp,0,164,164,811,226,0,0,0
14,15,Richard,M,Mthatha,0,"Hydraulic_Jack, Braai_Tongs",838,BFN,0,dp,0,376,376,810,650,0,0,0
15,16,Mathew,M,Standerton,0,"Lego_Block_Set, Nerf_Gun",1194,PTA,0,dp,0,142,294,919,142,0,0,0
16,17,Damian,M,Polokwane,10,"T-shirt, Hoodie",642,PTA,0,dp,0,220,439,1072,220,0,0,0
17,18,Carmen,F,Vryburg,0,Makeup_Kit,389,BFN,0,dp,0,215,215,740,278,0,0,0
18,19,Leykia,F,Hondeklipbaai,20,"Hookah_Pipe, Hoodie",789,CPT,0,dp,0,340,638,340,842,0,0,0
19,20,Laydon,F,Tietiesbaai,0,"Rabbit_Onesie, Rabbit_Cage",1328,CPT,0,sp,0,120,715,120,961,0,0,0

In [26]:
#Shipping Costs

def ship_cost_check(X,Y,Z):
    X = Table["Item_Prices"]
    Y = Table["Shipping_Var"]
    Z = Table["Shipping"]
    if X >= 500:
        Z == 0
    elif Y == "dp":
        Z == 250
    elif Y == "sp":
        Z == 100
    elif Y == "sc":
        Z == 50
    elif Y == "c":
        Z == 0

In [9]:
#VAT percentage
VAT = (Table["Item_Prices"] * 0.15) + Table["Item_Prices"]
Table["Discount_Percentage"] = Table["Discount_Percentage"]/100

In [10]:
#Grand Total
Table["Grand_Total"] = (Table["Item_Prices"] + VAT + Table["Shipping"])*(1-Table["Discount_Percentage"])

In [21]:
#Payment Reference
Table["Payment_Reference"] = random.sample(range(1000), 20)

In [22]:
Table

,Nr,Customer_Name,Gender,Customer_Location,Discount_Percentage,Item_Names,Item_Prices,Warehouse,Shipping,Shipping_ Var,Grand_Total,GPS_Estimate_Final,GPS_Estimate_BFN,GPS_Estimate_CPT,GPS_Estimate_PTA,Collection,Delivery_Date,Payment_Reference
0,1,Preston,M,Pretoria,0.00,"Computer_Keyboard,Computer_Mouse,Mousepad",488,PTA,0,c,1049.2000,0,286,913,0,1,0,144
1,2,Jocelyn,F,Kimberley,0.10,"Epoxy_Resin_Kit, Latex_Gloves",1088,BFN,0,dp,2105.2800,112,112,605,356,0,0,896
2,3,Josh,M,Oudtshoorn,0.00,Bracelet,150,CPT,0,sp,322.5000,301,470,301,733,0,0,204
3,4,Leilani',F,Bloemfontein,0.15,Sewing_Machine,1999,BFN,0,c,3653.1725,0,0,630,270,1,0,431
4,5,Sarah,F,Koffiefontein,0.00,"Photoframe, Photo_Album",587,BFN,0,sp,1262.0500,96,96,601,362,0,0,830
5,6,Joseph,M,Kuruman,0.00,"Lawnmover, Hosepipe, Rake, Shovel, Garbage_Bags",3329,BFN,0,dp,7157.3500,291,291,646,397,0,0,505
6,7,Muriel,F,George,0.00,"Fur_Carpet, Pillow_Set, Dining_Table",3739,BFN,0,dp,8038.8500,59,59,283,755,0,0,652
7,8,Shania,F,Durban,0.25,"Carving_Tools, Cellphone_Cover, Linocut_tiles",371,PTA,0,dp,598.2375,437,448,1081,437,0,0,163
8,9,Maxine,F,Johannesburg,0.00,"Headsets, Necklace",498,PTA,0,sp,1070.7000,52,241,879,52,0,0,757
9,10,Michael,M,Boksburg,0.00,HD_Camera,545,PTA,0,sp,1171.7500,50,257,889,50,0,0,675
10,11,Riaan,M,Cape_Town,0.20,Vape_Machine,578,CPT,0,c,994.1600,0,713,0,934,1,0,596
11,12,Chris,M,Jacobsdal,0.00,Hydraulic_Jack,519,BFN,0,dp,1115.8500,108,108,592,377,0,0,419
12,13,Kiara,F,Hartswater,0.50,"Doll_House, Hair_Accessories",404,BFN,0,dp,434.3000,164,164,695,345,0,0,43
13,14,Maxwell,M,Bethlehem,0.50,Iphone_Airpods,179,BFN,0,sp,192.4250,164,164,811,226,0,0,735
14,15,Richard,M,Mthatha,0.00,"Hydraulic_Jack, Braai_Tongs",838,BFN,0,dp,1801.7000,376,376,810,650,0,0,774
15,16,Mathew,M,Standerton,0.00,"Lego_Block_Set, Nerf_Gun",1194,PTA,0,dp,2567.1000,142,294,919,142,0,0,974
16,17,Damian,M,Polokwane,0.10,"T-shirt, Hoodie",642,PTA,0,dp,1242.2700,220,439,1072,220,0,0,801
17,18,Carmen,F,Vryburg,0.00,Makeup_Kit,389,BFN,0,dp,836.3500,215,215,740,278,0,0,195
18,19,Leykia,F,Hondeklipbaai,0.20,"Hookah_Pipe, Hoodie",789,CPT,0,dp,1357.0800,340,638,340,842,0,0,502
19,20,Laydon,F,Tietiesbaai,0.00,"Rabbit_Onesie, Rabbit_Cage",1328,CPT,0,sp,2855.2000,120,715,120,961,0,0,291

#To determine which warehouse was allocated to the customer

def warehouse(x):

        if Table['GPS_Estimate_Final']==Table['GPS_Estimate_BFN']:
             print("BFN")
        elif Table['GPS_Estimate_Final']==Table['GPS_Estimate_CPT']:
               print("CPT")
        else Table['GPS_Estimate_Final']==Table['GPS_Estimate_PTA']:
               print("PTA")

In [ ]:
#export as csv
Table.to_csv('TakealotData.csv')

_______________________________________________________________________________

In [25]:
Day1 = pd.read_csv("TakealotData.csv", sep = ";")
Day2 = pd.read_csv("TakealotDay2.csv", sep = ";")
Day3 = pd.read_csv("TakealotDay3.csv", sep = ";")

In [16]:
Day2["Discount_Percentage"]

0        0
1     0,25
2        0
3      0,5
4      0,1
5        0
6     0,15
7      0,2
8        0
9      0,5
10    0,25
11     0,2
12       0
13     0,1
14       0
15       0
16     0,1
17    0,25
18       0
19       0
Name: Discount_Percentage, dtype: object

In [7]:
Day2["Discount_Percentage"] = Day2["Discount_Percentage"].astype(float)
Day2["Item_Prices"] = Day2["Item_Prices"].astype(float)
Day2["Purchase_Prices"] = Day2["Purchase_Prices"].astype(float)
Day2["Profits"] = Day2["Profits"].astype(float)
Day2["Shipping_Var"] = Day2["Shipping_Var"].astype(float)

ValueError: could not convert string to float: '0,25'

In [26]:
Day1.loc[Day1["Item_Prices"]>=500,"Shipping"] = 0
Day1.loc[Day1["Collection"]==1,"Shipping"] = 0
Day1.loc[Day1["Shipping_Var"]==1,"Shipping"] = 50
Day1.loc[Day1["Shipping_Var"]==3,"Shipping"] = 100
Day1.loc[Day1["Shipping_Var"]==4,"Shipping"] = 250

TypeError: '>=' not supported between instances of 'str' and 'int'

In [8]:
#Shipping Costs
#Same city = sc,same province = sp, different province = dp
#Let sc=1,sp=3,dp=4

Day2.loc[Day2["Item_Prices"]>=500,"Shipping"] = 0
Day2.loc[Day2["Collection"]==1,"Shipping"] = 0
Day2.loc[Day2["Shipping_Var"]==1,"Shipping"] = 50
Day2.loc[Day2["Shipping_Var"]==3,"Shipping"] = 100
Day2.loc[Day2["Shipping_Var"]==4,"Shipping"] = 250

Day3.loc[Day3["Item_Prices"]>=500,"Shipping"] = 0
Day3.loc[Day3["Collection"]==1,"Shipping"] = 0
Day3.loc[Day3["Shipping_Var"]==1,"Shipping"] = 50
Day3.loc[Day3["Shipping_Var"]==3,"Shipping"] = 100
Day3.loc[Day3["Shipping_Var"]==4,"Shipping"] = 250

In [9]:
#VAT percentage

VAT2 = (Day2["Item_Prices"] * 0.15) + Day2["Item_Prices"]
Day2["Discount_Percentage"] = Day2["Discount_Percentage"]/100

VAT3 = (Day3["Item_Prices"] * 0.15) + Day3["Item_Prices"]
Day3["Discount_Percentage"] = Day3["Discount_Percentage"]/100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
#Grand Total
Day2["Grand_Total"] = (Day2["Item_Prices"] + VAT2 + Day2["Shipping"])*(1-Day2["Discount_Percentage"])
Day3["Grand_Total"] = (Day3["Item_Prices"] + VAT3 + Day3["Shipping"])*(1-Day3["Discount_Percentage"])

In [ ]:
#Payment Reference
import random
Day2["Payment_Reference"] = random.sample(range(1000), 20)
Day3["Payment_Reference"] = random.sample(range(1000), 20)

In [ ]:
#To determine which warehouse was allocated to the customer
               
Day2.loc[Day2["GPS_Estimate_Final"]==Day2["GPS_Estimate_BFN"],"Warehouse"] = "BFN"
Day2.loc[Day2["GPS_Estimate_Final"]==Day2["GPS_Estimate_CPT"],"Warehouse"] = "CPT"
Day2.loc[Day2["GPS_Estimate_Final"]==Day2["GPS_Estimate_PTA"],"Warehouse"] = "PTA"

Day3.loc[Day3["GPS_Estimate_Final"]==Day3["GPS_Estimate_BFN"],"Warehouse"] = "BFN"
Day3.loc[Day3["GPS_Estimate_Final"]==Day3["GPS_Estimate_CPT"],"Warehouse"] = "CPT"
Day3.loc[Day3["GPS_Estimate_Final"]==Day3["GPS_Estimate_PTA"],"Warehouse"] = "PTA"

In [ ]:
#Seperating Warehouse locations into different columns
Day2.loc[Day2["Warehouse"] == "PTA","PTA"] = "PTA"
Day2.loc[Day2["Warehouse"] == "BFN","BFN"] = "BFN"
Day2.loc[Day2["Warehouse"] == "CPT","CPT"] = "CPT"

Day3.loc[Day3["Warehouse"] == "PTA","PTA"] = "PTA"
Day3.loc[Day3["Warehouse"] == "BFN","BFN"] = "BFN"
Day3.loc[Day3["Warehouse"] == "CPT","CPT"] = "CPT"

In [ ]:
#Fill NA values with 0
Day2.fillna(0, inplace=True)
Day2.fillna(0, inplace=True)

In [ ]:
#Replacing Warehouse names with boolean value
Day2.loc[Day2["PTA"]=="PTA","PTA"] = 1
Day2.loc[Day2["BFN"]=="BFN","BFN"] = 1
Day2.loc[Day2["CPT"]=="CPT","CPT"] = 1

Day3.loc[Day3["PTA"]=="PTA","PTA"] = 1
Day3.loc[Day3["BFN"]=="BFN","BFN"] = 1
Day3.loc[Day3["CPT"]=="CPT","CPT"] = 1

In [ ]:
#Profits Per Day